/*  your css code here. If applicable */
div{
	width:200px;
	height:200px;
	background-color:lightblue;
	border:2px,solid black;
}
span{
	display: grid;
  place-items: center; /* centers both horizontally & vertically */
  height: 200px;       
}
div{
	border-top-width:2px;
}
