/*  your css code here. If applicable */
div{
	width:200px;
	height:200px;
	background-color:lightblue;
	border:solid black; 
	border-top-width:2px;
	border-bottom-width:2px;
	border-left-width:2px;
	border-right-width:2px;
}
span{
	color:purple;
	display: grid;
  place-items: center; /* centers both horizontally & vertically */
  height: 200px;       
}
